#.github/CODEOWNERS
# Todos os owners precisam ter permissão Write no repo.
# Fallback: qualquer arquivo não coberto pelas regras abaixo
*                       @emcsmalone @dhuberto @Tiagocamilos @tongenx @helierison

# Pipeline é código crítico
/.github/workflows/     @emcsmalone @dhuberto @Tiagocamilos

# Manifestos de deploy
/k8s/                   @emcsmalone @dhuberto @Tiagocamilos @tongenx @helierison
