#.github/CODEOWNERS
# Todo o repositorio
* @emcsmalone @tiagocamilos @dhuberto @tongenx @helierison


#Workflows do CI/CD - dono do repo obrigatorio
/.github/workflows/     @emcsmalone

# Manifestos de deploy - todos revisam quando mudar
/k8s/                  @emcsmalone @tiagocamilos @dhuberto @tongenx @helierison

