# .github/CODEOWNERS
# Code owners precisam ter permissão Write no repo.
# O professor (@HardSource) é collaborator Read

# Todo o repositório
*                       @emcsmalone @dhuberto @Tiagocamilos @tongenx @helierison

# Workflows do CI/CD — dono do repo obrigatório
/.github/workflows/     @emcsmalone

# Manifestos de deploy — todos revisam quando mudar
/k8s/                   @emcsmalone @dhuberto @Tiagocamilos @tongenx @helierison
